{% load static %}
{% load mwinfo_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bosh sahifa</title>
    <link type="text/css" href="{% static 'mw_info/css/styles.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <link rel="shorcut icon" href="{% static 'mw_info/images/main.ico' % }" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class = "table-page" border = 0 cellpadding="0" cellspacing="0">
    <tr><td valign="top">
        {% block mainmenu %}


            <div class = "header">
                <ul id="mainmenu" class="mainmenu">
                    <li class="logo"><a href='{% url "home" %}'><div class="logo"></div></a></li>
                     <!--
                      {% for m in menu %}
                        {% if not forloop.last %}
                    <li> <a href = '{% url m.url_name %}'> {{m.title}}</a></li>
                        {% else %}
                    <li class = "last"> <a href = '{% url m.url_name %}'> {{m.title}}</a></li>
                      {% endif %}
                    {% endfor %}
                    -->
                <!-- yuqoridagi komentdagilarning barchasi quyidagi mwinfo_tags.show_menu ga o'tib ketdi-->
                    {% show_menu %}
                </ul>
                <div class="clear"></div>
            </div>

        {% endblock mainmenu %}


   <table class="table-content" border="0" cellpadding="0" cellspacing="0">
       <tr>
           <!-- sidebar sleva -->
           <td valign="top" class="left-chapters">

               <ul id="leftchapters">
                   {% if cat_selected == 0 %}
                        <li class="selected"> Xamma kategoriyalar </li>
                   {% else %}
                        <li><a href = "{% url 'home' %}"> Xamma kategoriyalar </a></li>
                   {% endif %}

                   {% show_categories cat_selected=cat_selected %}


                   <li class="share">
                       <p>Bizning kanal</p>
                       <a class="share-yt" href="https://www.youtube.com"></a>
                   </li>
               </ul>
           </td>

         <!-- konec sidebar  -->


   <td valign="top" class="content">
       <!-- non ushoqlari -->
       {% block breadcrumbs %}
       {% endblock %}


         <!-- kontent bloki -->
       <div class="content-text">
           {% block content %}
           {% endblock %}

       </div>

          <!-- kontent bloki oxiri-->


   </td> </tr> </table>
    </td> </tr>

      <!-- footer-->
    <tr><td valign="top">
        <div id="footer">
            <p>2023 yil barcha xuquqlar ximoyalangan</p>
        </div>
    </td></tr> </table>
      <!-- footer va sahifaning oxiri-->

</body>
</html>
